<include file="Index:meta" />
<title>发送</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统相关 <span class="c-gray en">&gt;</span> 系统消息 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form id="form-admin-add">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr class="text-c">
                <th width="100">端口</th>
                <th width="300">标题</th>
                <th>内容</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td>用户端</td>
                <td><input type="text" class="input-text" id="user_title" name="user_title"></td>
                <td><input type="text" class="input-text" id="user_content" name="user_content"></td>
            </tr>
            <tr class="text-c">
                <td>司机端</td>
                <td><input type="text" class="input-text" id="driver_title" name="driver_title"></td>
                <td><input type="text" class="input-text" id="driver_content" name="driver_content"></td>
            </tr>
            <tr>
                <td colspan="3"><input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;发送&nbsp;&nbsp;"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<include file="Index:footer" />
<script type="text/javascript" src="__PUBLIC__/control/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/vendor/jquery-form/jquery.form.js"></script>
<script type="text/javascript">
    function shuaxin() {
        location.replace(location.href);
    }
    $(function(){
        $("#form-admin-add").validate({
            rules:{
                user_title:{
                    required:false,
                },
                user_content:{
                    required:false,
                },
                driver_title:{
                    required:false,
                },
                driver_content:{
                    required:false,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: '__APP__/Admin/Message/submit',
                    success: function(data) {
                        if (data) {
                            shuaxin();
                        } else {
                            layer.msg('没有成功', {icon: 2, time: 2000});
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>