<script type="text/javascript" src="__PUBLIC__/control/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/static/h-ui/js/H-ui.admin.js"></script>
<footer class="footer mt-20" style="clear: both;">
    <div class="container">
        <p>© <?php echo date('Y'); ?> 技术支持: <a href="#" target="_blank">如邮快送</a></p>
    </div>
</footer>