<include file="Index:meta" />
<title>如邮快送 - 后台管理</title>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs">如邮快送</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs">戎州行</a> <span class="logo navbar-slogan f-l mr-10 hidden-xs">v1.0</span> <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li>超级管理员</li>
                    <li class="dropDown dropDown_hover"> <a href="javascript:;" class="dropDown_A">admin <i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="__APP__/Admin/Login/logout">退出</a></li>
                        </ul>
                    </li>
                    <li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
                            <li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
                            <li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
                            <li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
                            <li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
                            <li><a href="javascript:;" data-val="orange" title="绿色">橙色</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-">
            <dt><i class="Hui-iconfont">&#xe62c;</i> 数据统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/User/driver_lists" data-title="司机列表" href="javascript:void(0)">数据统计</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-monitor">
            <dt><i class="Hui-iconfont">&#xe62c;</i> 监控中心<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/Monitor/lists" data-title="监控中心" href="javascript:void(0)">监控中心</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-coach">
            <dt><i class="Hui-iconfont">&#xe62c;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/User/driver_lists" data-title="司机列表" href="javascript:void(0)">司机列表</a></li>
                    <li><a _href="__APP__/Admin/User/passenger_lists" data-title="乘客列表" href="javascript:void(0)">乘客列表</a></li>
                </ul>
            </dd>
        </dl>
<!--        <dl id="menu-order">-->
<!--            <dt><i class="Hui-iconfont">&#xe687;</i> 预约管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
<!--            <dd>-->
<!--                <ul>-->
<!--                    <li><a _href="__APP__/Admin/Order/intercity" data-title="城际拼车" href="javascript:void(0)">城际拼车</a></li>-->
<!--                    <li><a _href="__APP__/Admin/Order/down" data-title="市区出行" href="javascript:void(0)">市区出行</a></li>-->
<!--                    <li><a _href="__APP__/Admin/Order/traffic" data-title="同城货运" href="javascript:void(0)">同城货运</a></li>-->
<!--                </ul>-->
<!--            </dd>-->
<!--        </dl>-->
        <dl id="menu-order">
            <dt><i class="Hui-iconfont">&#xe687;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/Order/traffic" data-title="帮我订单" href="javascript:void(0)">帮我订单</a></li>
                    <li><a _href="__APP__/Admin/Order/down" data-title="代驾订单" href="javascript:void(0)">代驾订单</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-operate">
            <dt><i class="Hui-iconfont">&#xe66a;</i> 运营管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/Vehicle/edit" data-title="车辆设置" href="javascript:void(0)">车辆设置</a></li>
<!--                    <li><a _href="__APP__/Admin/Route/lists" data-title="城际路线" href="javascript:void(0)">城际路线</a></li>-->
<!--                    <li><a _href="__APP__/Admin/Slot/lists" data-title="班次时间" href="javascript:void(0)">班次时间</a></li>-->
<!--                    <li><a _href="__APP__/Admin/Telephone/lists" data-title="城际电话" href="javascript:void(0)">城际电话</a></li>-->
                </ul>
            </dd>
        </dl>
        <dl id="menu-finance">
            <dt><i class="Hui-iconfont">&#xe6ca;</i> 财务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/Postal/lists" data-title="提现审核" href="javascript:void(0)">提现审核</a></li>
                    <li><a _href="__APP__/Admin/Integral/lists" data-title="积分兑换" href="javascript:void(0)">积分兑换</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-set">
            <dt><i class="Hui-iconfont">&#xe61d;</i> 系统相关<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="__APP__/Admin/Feedback/lists" data-title="意见反馈" href="javascript:void(0)">意见反馈</a></li>
                    <li><a _href="__APP__/Admin/System/file" data-title="文本配置" href="javascript:void(0)">文本配置</a></li>
                    <li><a _href="__APP__/Admin/Message/lists" data-title="系统消息" href="javascript:void(0)">系统消息</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active"><span title="我的桌面" data-href="welcome.html">我的桌面</span><em></em></li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src="__APP__/Admin/Index/welcome"></iframe>
        </div>
    </div>
</section>
<include file="Index:footer" />
</body>
</html>