<include file="Index:meta" />
<title>文本配置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统相关 <span class="c-gray en">&gt;</span> 文本配置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form id="form-admin-add">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr class="text-c">
                <th>名称</th>
                <th>内容</th>
                <th>名称</th>
                <th>内容</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td>【司机端】联系我们</td>
                <td><input type="text" class="input-text" id="driver_contact_us" name="driver_contact_us" value="{$driver_contact_us}"></td>
                <td>【用户端】联系我们</td>
                <td><input type="text" class="input-text" id="user_contact_us" name="user_contact_us" value="{$user_contact_us}"></td>
            </tr>
            <tr class="text-c">
                <td>市区出行-约车电话</td>
                <td><input type="text" class="input-text" id="down_car" name="down_car" value="{$down_car}"></td>
                <td>同城货运-约车电话</td>
                <td><input type="text" class="input-text" id="traffic_car" name="traffic_car" value="{$traffic_car}"></td>
            </tr>
            <tr class="text-c">
                <td>路线-温馨提示</td>
                <td><input type="text" class="input-text" id="cozy_type4" name="cozy_type4" value="{$cozy_type4}"></td>
                <td>城际拼车-温馨提示</td>
                <td><input type="text" class="input-text" id="cozy_type1" name="cozy_type1" value="{$cozy_type1}"></td>
            </tr>
            <tr class="text-c">
                <td>市区出行-温馨提示</td>
                <td><input type="text" class="input-text" id="cozy_type2" name="cozy_type2" value="{$cozy_type2}"></td>
                <td>同城货运-温馨提示</td>
                <td><input type="text" class="input-text" id="cozy_type3" name="cozy_type3" value="{$cozy_type3}"></td>
            </tr>
            <tr class="text-c">
                <td>【司机端】用户协议</td>
                <td><textarea class="textarea" id="driver_deal" name="driver_deal">{$driver_deal}</textarea></td>
                <td>【用户端】用户协议</td>
                <td><textarea class="textarea" id="user_deal" name="user_deal">{$user_deal}</textarea></td>
            </tr>
            <tr class="text-c">
                <td>【司机端】关于我们</td>
                <td><textarea class="textarea" id="driver_about_us" name="driver_about_us">{$driver_about_us}</textarea></td>
                <td>【用户端】关于我们</td>
                <td><textarea class="textarea" id="user_about_us" name="user_about_us">{$user_about_us}</textarea></td>
            </tr>
            <tr class="text-c">
                <td></td>
                <td></td>
                <td>【用户端】计价说明</td>
                <td><textarea class="textarea" id="jijia" name="user_jijia">{$user_jijia}</textarea></td>
            </tr>
            <tr class="text-c">
                <td></td>
                <td></td>
                <td>【用户端】开票说明</td>
                <td><textarea class="textarea" id="kaipiao" name="user_kaipiao">{$user_kaipiao}</textarea></td>
            </tr>
            <tr>
                <td colspan="4"><input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<include file="Index:footer" />
<script type="text/javascript" src="__PUBLIC__/control/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/vendor/jquery-form/jquery.form.js"></script>
<script type="text/javascript">
    function shuaxin() {
        location.replace(location.href);
    }
    $(function(){
        $("#form-admin-add").validate({
            rules:{
                down_car:{
                    required:false,
                },
                traffic_car:{
                    required:false,
                },
                driver_deal:{
                    required:false,
                },
                user_deal:{
                    required:false,
                },
                driver_contact_us:{
                    required:false,
                },
                user_contact_us:{
                    required:false,
                },
                driver_about_us:{
                    required:false,
                },
                user_about_us:{
                    required:false,
                },
                cozy_type4:{
                    required:false,
                },
                cozy_type1:{
                    required:false,
                },
                cozy_type2:{
                    required:false,
                },
                cozy_type3:{
                    required:false,
                },
                integral_rule:{
                    required:false,
                },
                town_starting_price:{
                    required:false,
                },
                traffic_starting_price:{
                    required:false,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: '__APP__/Admin/System/submit',
                    success: function(data) {
                        if (data) {
                            shuaxin();
                        } else {
                            layer.msg('没有成功', {icon: 2, time: 2000});
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>