<include file="Index:meta" />
<title>新增</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>出发城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="route_city_id1" class="select" id="route_city_id1">
                        <foreach name="route_city" item="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </foreach>
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>目的城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select name="route_city_id2" class="select" id="route_city_id2">
                        <foreach name="route_city" item="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </foreach>
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>管理员电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="admin_tel" name="admin_tel">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="paixu" name="paixu">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性质：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input type="radio" id="nature1" name="nature" value="1" checked>
                    <label for="nature1">长途</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="nature2" name="nature" value="2">
                    <label for="nature2">短途</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>接单模式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input type="radio" id="online1" name="online" value="1" checked>
                    <label for="online1">线上</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="online2" name="online" value="2">
                    <label for="online2">线下</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<include file="Index:footer" />
<script type="text/javascript" src="__PUBLIC__/control/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/vendor/jquery-form/jquery.form.js"></script>
<script type="text/javascript">
    $(function(){
        $("#form-admin-add").validate({
            rules:{
                route_city_id1:{
                    required:true,
                },
                route_city_id2:{
                    required:true,
                },
                admin_tel:{
                    required:true,
                },
                paixu:{
                    required:true,
                },
                nature:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: '__APP__/Admin/Route/add_route_submit',
                    success: function(data) {
                        if (data == 1) {
                            parent.shuaxin();
                        } else if (data == 2) {
                            layer.msg('城市线路已重复!',{icon: 2, time: 2000});
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>