<include file="Index:meta" />
<title>新增</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>出发城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {$data.route_city_font1}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>目的城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {$data.route_city_font2}<input type="hidden" name="id" value="{$data.id}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>管理员电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="admin_tel" name="admin_tel" value="{$data.admin_tel}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="paixu" name="paixu" value="{$data.paixu}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性质：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input type="radio" id="nature1" name="nature" value="1"<?php if ($data['nature'] == 1) { echo ' checked'; } ?>>
                    <label for="nature1">长途</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="nature2" name="nature" value="2"<?php if ($data['nature'] == 2) { echo ' checked'; } ?>>
                    <label for="nature2">短途</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>接单模式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input type="radio" id="online1" name="online" value="1"<?php if ($data['online'] == 1) { echo ' checked'; } ?>>
                    <label for="online1">线上</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="online2" name="online" value="2"<?php if ($data['online'] == 2) { echo ' checked'; } ?>>
                    <label for="online2">线下</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<include file="Index:footer" />
<script type="text/javascript" src="__PUBLIC__/control/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/control/vendor/jquery-form/jquery.form.js"></script>
<script type="text/javascript">
    $(function(){
        $("#form-admin-add").validate({
            rules:{
                admin_tel:{
                    required:true,
                },
                paixu:{
                    required:true,
                },
                nature:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: '__APP__/Admin/Route/edit_submit',
                    success: function(data) {
                        if (data == 1) {
                            parent.shuaxin();
                        } else if (data == 2) {
                            layer.msg('编辑失败!', {icon: 2, time: 2000});
                        } else {
                            layer.msg(data, {icon: 2, time: 2000});
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>