<include file="Index:meta" />
<title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统相关 <span class="c-gray en">&gt;</span> 意见反馈 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="get">
        <div class="text-c">
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r" style="height: 31px;line-height: 31px;">共有数据：<strong>{$count}</strong> 条</span>
    </div>
    <if condition="$lists">
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover">
                <thead>
                <tr class="text-c">
                    <th width="50">ID</th>
                    <th width="100">用户</th>
                    <th>反馈内容</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="lists" item="vo">
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.user_name}</td>
                        <td>{$vo.content}</td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <div class="page">{$page}</div>
        </div>
    </if>
</div>
<include file="Index:footer" />
<script type="text/javascript">
    function shuaxin() {
        location.replace(location.href);
    }
</script>
</body>
</html>