<include file="Index:meta" />
<title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 司机列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="__APP__/Admin/User/driver_lists" method="get">
        <div class="text-c">
            姓名：
            <input type="text" name="name" value="{:I('name')}" placeholder="姓名" style="width:150px" class="input-text">
            电话：
            <input type="text" name="account" value="{:I('account')}" placeholder="电话" style="width:150px" class="input-text">
            认证：<span class="select-box inline">
            <select name="check" class="select">
                <option value="">所有</option>
                <option value="1"<if condition="I('check') eq 1"> selected</if>>未认证</option>
                <option value="2"<if condition="I('check') eq 2"> selected</if>>已通过</option>
                <option value="3"<if condition="I('check') eq 3"> selected</if>>未通过</option>
                <option value="4"<if condition="I('check') eq 4"> selected</if>>认证中</option>
            </select>
            </span>
            <button name="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r" style="height: 31px;line-height: 31px;">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr class="text-c">
                <th width="50">ID</th>
                <th width="210">头像</th>
                <th width="210">姓名</th>
                <th width="210">电话</th>
                <th width="210">跑腿认证</th>
                <th width="210">代驾认证</th>
                <th width="210">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <if condition="$lists">
            <foreach name="lists" item="vo">
                <tr class="text-c">
                    <td>{$vo.id}</td>
                    <td><img src="/{$vo.head_img}" style="height: 20px;"></td>
                    <td>{$vo.name}</td>
                    <td>{$vo.account}</td>
                    <td>{$vo.check_font}
                        <if condition="$vo.check eq 0">
                            <else/>
                            <a onClick="user_details('跑腿详情','__APP__/Admin/User/details?id={$vo.id}','','510')" style="text-decoration:none" href="javascript:;" title="跑腿详情"><i class="Hui-iconfont">&#xe665;</i></a>
                        </if></td>
                    <td>{$vo.driving_check_font}
                        <if condition="$vo.driving_check eq 0">
                            <else/>
                            <a onClick="user_details('代驾详情','__APP__/Admin/User/driving_details?id={$vo.id}','','510')" style="text-decoration:none" href="javascript:;" title="代驾详情"><i class="Hui-iconfont">&#xe665;</i></a>
                        </if>
                    </td>

                    <td>
                        <if condition="$vo.is_logoff eq 0">
                            正常
                            <else/>
                           已注销
                        </if>
                    </td>
                    <td class="td-manage">
                        <if condition="$vo.check eq 3">
                            <a onClick="user_check('认证审核','__APP__/Admin/User/check?id={$vo.id}','','510')" href="javascript:;">跑腿审核</a>
                            &nbsp;
                        </if>
                        <if condition="$vo.driving_check eq 3">
                            <a onClick="user_check('认证审核','__APP__/Admin/User/driving_check?id={$vo.id}','','510')" href="javascript:;">代驾审核</a>
                            &nbsp;
                        </if>


                    </td>
                </tr>
            </foreach>
            </if>
            </tbody>
        </table>
        <div class="page">{$page}</div>
    </div>
</div>
<include file="Index:footer" />
<script type="text/javascript">
    function shuaxin() {
        location.replace(location.href);
    }
    function user_check(title,url,w,h) {
        layer_show(title,url,w,h);
    }
    function user_details(title,url,w,h) {
        layer_show(title,url,w,h);
    }
</script>
</body>
</html>