<include file="Index:meta" />
<title>请输入理由</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">理由：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <textarea style="width: 200px;height: 60px;" id="liyou"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"></label>
            <div class="formControls col-xs-5 col-sm-5">
                <input onclick="check_no({:I('id')})" class="btn btn-primary size-MINI radius" style="width: 100px;" value="提交">
            </div>
        </div>
    </form>
</article>
<include file="Index:footer" />
<script type="text/javascript">
    function check_no(id) {
        layer.confirm('确认不通过认证？',function(index){
            $.ajax({
                type: 'post',
                url: '__APP__/Admin/User/ajax_check',
                data: {
                    uid: id,
                    ucheck: 2,
                    liyou: $('#liyou').val()
                },
                success:function(data){
                    if (data) {
                        parent.parent.shuaxin();
                    }
                }
            });
        });
    }
</script>
</body>
</html>