<include file="Index:meta" />
<title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 帮我订单 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="__APP__/Admin/Order/intercity" method="get">
        <div class="text-c">
            出发城市：<span class="select-box inline">
            <select name="route_city_id1" class="select">
                <option value="">所有</option>
                <?php
                    foreach ($route_city_id1 as $k => $v) {
                        ?>
                        <option value="<?php echo $v['id']; ?>"<?php if (I('route_city_id1') == $v['id']) { echo ' selected';} ?>><?php echo $v['name']; ?></option>
                        <?php
                    }
                ?>
            </select>
            </span>
            &nbsp;&nbsp;
            目的城市：<span class="select-box inline">
            <select name="route_city_id2" class="select">
                <option value="">所有</option>
                <?php
                    foreach ($route_city_id1 as $k => $v) {
                        ?>
                        <option value="<?php echo $v['id']; ?>"<?php if (I('route_city_id2') == $v['id']) { echo ' selected';} ?>><?php echo $v['name']; ?></option>
                <?php
                    }
                ?>
            </select>
            </span>
            &nbsp;&nbsp;
            状态：<span class="select-box inline">
            <select name="status" class="select">
                <option value="">所有</option>
                <foreach name="status_lists" item="vo" key="k">
                    <option value="{$k}"<if condition="I('status') eq $k"> selected</if>>{$vo}</option>
                </foreach>
            </select>
            </span>
            &nbsp;&nbsp;
            司机手机号：
            <input type="text" name="driver_account" value="{:I('driver_account')}" placeholder="司机手机号" style="width:150px" class="input-text">
            &nbsp;&nbsp;
            司机车牌号：
            <input type="text" name="driver_car_number" value="{:I('driver_car_number')}" placeholder="司机车牌号" style="width:150px" class="input-text">
            &nbsp;&nbsp;
            用户手机号：
            <input type="text" name="user_account" value="{:I('user_account')}" placeholder="用户手机号" style="width:150px" class="input-text">
            <button name="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r" style="height: 31px;line-height: 31px;">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover">
            <thead>
            <tr class="text-c">
                <th width="50">ID</th>
                <th width="80">用户</th>
                <th width="80">司机</th>
                <th width="100">线路</th>
                <th width="220">位置</th>
                <th width="60">价格</th>
                <th width="50">人数</th>
                <th width="120">预约日期</th>
                <th width="80">车型</th>
                <th width="80">状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <if condition="$lists">
            <foreach name="lists" item="vo">
                <tr class="text-c">
                    <td>{$vo.id}</td>
                    <td>{$vo.user_name}</td>
                    <td>{$vo.driver_user_name}</td>
                    <td>{$vo.route_city_font1} - {$vo.route_city_font2}</td>
                    <td>{$vo.location}</td>
                    <td>{$vo.price}</td>
                    <td>{$vo.people_num}</td>
                    <td>{$vo.order_time}</td>
                    <td>{$vo.car_type_id}</td>
                    <td>
                        <?php
                           if ($vo['status'] == '已完成' && $vo['line'] == 2) {
                                echo $vo['status_online'];
                            } else {
                                echo $vo['status'];
                            }
                        ?>
                    </td>
                    <td class="td-manage">
                        <?php
                            if ($vo['status'] == '已开始') {
                                ?>
                                <a onClick="pay_send('{$vo.id}')" style="text-decoration:none" href="javascript:;" title="支付">支付</a>
                                &nbsp;
                                <?php
                              }
                        ?>
                        <a onClick="order_details('详情','__APP__/Admin/Order/order_intercity_details?id={$vo.id}','','510')" style="text-decoration:none" href="javascript:;" title="详情"><i class="Hui-iconfont">&#xe665;</i></a>
                        <if condition="$vo.status eq '待接单'">
                            <if condition="$vo.line eq 2">
                                &nbsp;
                                <a onClick="send_order('派单','__APP__/Admin/Order/order_intercity_send?id={$vo.id}','','510')" style="text-decoration:none" href="javascript:;" title="派单">派单</a>
                            </if>
                        </if>
                        <?php
                           if ($vo['line'] == 2 && $vo['status'] == '已完成') {
                               if ($vo['status_online'] == '未完成') {
                                ?>
                                &nbsp;
                                <a onClick="line_order('{$vo.id}')" style="text-decoration:none" href="javascript:;" title="完成">完成</a>
                                <?php
                                }
                            }
                        ?>
                        <if condition="$vo.status eq '已完成'">
                            <if condition="$vo.status_online eq '未完成'">
                                <if condition="$vo.line eq 2">
                                    <?php
                                        if (time() - $vo['add_time'] <= 86400) {
                                            ?>
                                            &nbsp;
                                            <a onClick="revoke_order('{$vo.id}')" style="text-decoration:none" href="javascript:;" title="撤销">撤销</a>
                                            <?php
                                        }
                                    ?>
                                </if>
                            </if>
                        </if>
                    </td>
                </tr>
            </foreach>
            </if>
            </tbody>
        </table>
        <div class="page">{$page}</div>
    </div>
</div>
<include file="Index:footer" />
<script type="text/javascript">
    function shuaxin() {
        location.replace(location.href);
    }
    function order_details(title,url,w,h) {
        layer_show(title,url,w,h);
    }
    function send_order(title,url,w,h) {
        layer_show(title,url,w,h);
    }
    function revoke_order(id) {
        layer.confirm('确认要撤销吗？',function(index){
            $.ajax({
                type: 'post',
                url: '__APP__/Admin/Order/order_intercity_revoke',
                data: {
                    order_id: id
                },
                success:function(data){
                    if (data == 1) {
                        shuaxin();
                    }
                }
            });
        });
    }
    function pay_send(id) {
        layer.confirm('确认要支付吗？',function(index){
            $.ajax({
                type: 'post',
                url: '__APP__/Admin/Order/intercity_pay_send',
                data: {
                    order_id: id,
                },
                success:function(data){
                    if (data == 1) {
                        shuaxin();
                    }
                }
            });
        });
    }
    // 完成线下订单
    function line_order(id) {
        layer.confirm('确认要完成吗？',function(index){
            $.ajax({
                type: 'post',
                url: '__APP__/Admin/Order/intercity_line_order',
                data: {
                    order_id: id,
                },
                success:function(data){
                    if (data == 1) {
                        shuaxin();
                    }
                }
            });
        });
    }
</script>
</body>
</html>